*{
    margin: 0;
    padding: 0;
}

.container{
    background: pink;
    
    width: 50%;
    height: 350px;
    margin-top: 150px;
}

input{
    margin-top: 20px;
    height: 25px;
    

}






